body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #111;
}

.btn {
  background: black;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #333;
}
